{{- define "main" -}}
<main class="cv">
  <section class="intro">
    <h1>Alice G Herbison</h1>
    <p>
      hello<span class="screen-only">&nbsp;[at]&nbsp;</span><span class="print-only">@</span
      ><a href="https://www.alicegherbison.com">alicegherbison.com</a>
      <br />
      <a href="https://www.github.com/alicegherbison" rel="”noopener" noreferrer” target="_blank">GitHub</a> -
      <a href="https://www.linkedin.com/in/alicegherbison/" rel="”noopener" noreferrer” target="_blank">LinkedIn</a>
    </p>
  </section>
  <section class="block about">
    <h2 class="sr screen-only">About</h2>
    <p>
      <strong>Front-end engineer</strong> based in Edinburgh. Committed to developing
      <strong>accessible, responsive and friendly interfaces</strong> that meet both
      <strong>user and client needs</strong>. Highly <strong>detailed-oriented, empathetic and passionate</strong> about
      learning new skills and web technologies. Seeking a <strong>mid-to-senior front-end engineer</strong> role.
    </p>
  </section>
  <section>
    <h2>Key skills</h2>
    <dl class="block skills">
      <dt>Languages</dt>
      <dd>TypeScript, JavaScript (ES6), GraphQL, HTML5, CSS3 / Sass</dd>
      <dt>Libraries &amp; frameworks</dt>
      <dd>React, Redux, Electron</dd>
      <dt>Tools</dt>
      <dd>Storybook, Git, Yarn, npm, Stylelint, RESTful APIs, Netlify, GitHub</dd>
      <dt>Analytics</dt>
      <dd>Google Analytics, Tag Manager, Data Studio</dd>
      <dt>Methodologies</dt>
      <dd>Agile (SCRUM, Kanban), W3C accessiblity guidelines</dd>
      <dt>Processes</dt>
      <dd>
        Usability testing, user research, user journeys, information architecture, templating &amp; wireframing
        responsive interfaces
      </dd>
    </dl>
  </section>
  <section>
    <h2>Experience</h2>
    <details class="block" open>
      <summary>
        <h3>
          Lead Front-End Developer,
          <a href="https://www.i-immersive.co.uk" rel="noopener noreferrer" target="_blank">i-immersive</a> (formally
          Ajenta)
        </h3>
      </summary>
      <p class="date"><em>January 2022 - May 2024 | Edinburgh</em></p>
      <h4>Tech stack</h4>
      <p>TypeScript (JavaScript ES6), React, GraphQL, Redux, Electron, Storybook, Yarn, CSS modules, Vidyo API</p>
      <h4>Key achievements</h4>
      <ul>
        <li>
          Solely designed and implemented all <strong>front-end architecture</strong> for the web and desktop (Electron)
          versions of <a href="https://app.classview.com" rel="noopener noreferrer" target="_blank">ClassView</a>, a
          video conferencing platform for further education.
        </li>
        <li>
          Established <strong>CSS approach</strong> and compartmentalisation; built all application components into
          Storybook (<a href="https://catalog.classview.com" rel="noopener noreferrer" target="_blank"
            >viewable online</a
          >).
        </li>
        <li>
          <strong>Refactored</strong> legacy codebase; updated React components from classes to hooks; changed Redux to
          GraphQL for data management.
        </li>
        <li>
          Designed <strong>theming implementation</strong> (including branding and palette design) for initial light and
          dark themes using layered variables.
        </li>
        <li>Built accessible, responsive, <strong>mobile-first layout</strong> for video calls.</li>
        <li>Project-managed a team of six and mentored junior front-end developers.</li>
      </ul>
    </details>
    <details class="block">
      <summary>
        <h3>
          Front-End Developer, Ajenta (now
          <a href="https://www.i-immersive.co.uk" rel="noopener noreferrer" target="_blank">i-immersive</a>)
        </h3>
      </summary>
      <p><em>April 2019 - December 2021 | Edinburgh</em></p>
      <h4>Key achievements</h4>
      <ul>
        <li>
          Sole developer for building Telequre (online doctor appointment calls and scheduling) from scratch in
          <strong>React with Redux</strong>.
        </li>
        <li>
          Re-configured and implemented <strong>desktop-only designs</strong> into a
          <strong>mobile-first, completely scalable interface</strong>.
        </li>
      </ul>
    </details>
    <details class="block">
      <summary>
        <h3>
          User Experience Designer, Signal (formerly Blonde, now
          <a href="https://leith.co.uk" rel="noopener noreferrer" target="_blank">Leith</a>)
        </h3>
      </summary>
      <p class="date"><em>January 2015 - January 2019 | Edinburgh</em></p>
      <h4>Key achievements</h4>
      <ul>
        <li>
          Used behavioural economic and psychological principles to encourage greater initial investment per ISA account
          opening for
          <a href="https://www.scottishfriendly.co.uk" rel="noopener noreferrer" target="_blank">Scottish Friendly</a>
          which <strong>increased average order value by &pound;10 per customer</strong>.
        </li>
        <li>
          Proposed and led <strong>interactive prototyping methods</strong> for new online medical research platform to
          illustrate and iterate desired functionality/requirements for each client. Increased ease of remote feedback
          and testing by providing valuable proof-of-concepts for ideas.
        </li>
        <li>
          Conducted <strong>user research</strong> and acted on findings to redesign
          <a href="https://www.cityofglasgowcollege.ac.uk/course-search" rel="noopener noreferrer" target="_blank"
            >online course finder</a
          >
          for City of Glasgow College, streamlining search process and filter options to those most valuable to
          prospective students.
        </li>
        <li>
          <strong>Championed user research inclusion</strong> in projects with small budgets, working within tight
          timeframes to produce ideas from as much research as possible.
        </li>
        <li>
          <strong>Established a framework</strong> for integrating and acting on research findings depending on stage of
          agile project.
        </li>
      </ul>
      <p>
        Led
        <strong>user research, user journeys, site planning, information architecture and template layouts</strong> for
        <a href="https://www.streetsoccerscotland.org/" rel="noopener noreferrer" target="_blank"
          >Street Soccer Scotland</a
        >, <a href="https://www.drinkaware.co.uk/" rel="noopener noreferrer" target="_blank">Drinkaware</a>,
        <a href="https://www.robertson.co.uk/" rel="noopener noreferrer" target="_blank">Robertson</a>,
        <a href="https://www.nationalgalleries.org/" rel="noopener noreferrer" target="_blank"
          >National Galleries of Scotland</a
        >,
        <a href="https://www.cityofglasgowcollege.ac.uk/" rel="noopener noreferrer" target="_blank"
          >City of Glasgow College</a
        >, and <a href="https://www.powderbeds.com/" rel="noopener noreferrer" target="_blank">Powderbeds</a> website
        redesigns, and a power-generator monitoring iPhone application for
        <a href="https://www.aggreko.com/en-gb" rel="noopener noreferrer" target="_blank">Aggreko</a>. Clients for
        smaller pieces of user experience work included
        <a href="https://personal.rbs.co.uk" rel="noopener noreferrer" target="_blank">RBS</a>,
        <a href="https://www.scottishfriendly.co.uk/" rel="noopener noreferrer" target="_blank">Scottish Friendly</a>,
        <a href="https://www.nandos.co.uk" rel="noopener noreferrer" target="_blank">Nando's</a>,
        <a href="https://www.edfringe.com/" rel="noopener noreferrer" target="_blank"
          >Edinburgh Festival Fringe Society</a
        >
        and
        <a href="https://www.myworldofwork.co.uk/" rel="noopener noreferrer" target="_blank">My World of Work</a>
        (Skills Development Scotland).
      </p>
    </details>
  </section>
  <section>
    <h2>Education</h2>
    <details class="block" open>
      <summary>
        <h3>
          MSc Human Computer Interaction,
          <a href="https://www.st-andrews.ac.uk" rel="noopener noreferrer" target="_blank">University of St Andrews</a>
        </h3>
      </summary>
      <p class="date">
        <em
          >2014 | Distinction |
          <a href="https://www.carnegie-trust.org" rel="noopener noreferrer" target="_blank">Carnegie-Cameron Trust</a>
          Post-Graduate Scholar</em
        >
      </p>
      <h4>Key modules</h4>
      <p>
        User-centred Interaction Design, Web Technologies (HTML/CSS/PHP), Research Design &amp; Analysis, Software
        Engineering Principles, Object-Oriented Modelling, Design &amp; Programming (Java)
      </p>
      <h4>Dissertation</h4>
      <p>
        Followed a user-centred design process to design and implement the front-end user interface for the iPhone
        application <em>DentAnx</em> in Phonegap (HTML/CSS/JS) to help people with dental anxiety track the emotional
        strength of their anxiety and log pain levels throughout dental treatment as a method of psychological
        intervention. The work has been
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/29148691" rel="noopener noreferrer" target="_blank"
          >published in scholarly journals</a
        >
        and has since been fully implemented for iOS and Android. Received a first class mark and overall distinction
        for degree.
      </p>
    </details>
    <details class="block">
      <summary>
        <h3>
          MA(Hons) Psychology with Film Studies,
          <a href="https://www.st-andrews.ac.uk" rel="noopener noreferrer" target="_blank">University of St Andrews</a>
        </h3>
      </summary>
      <p class="date">
        <em
          >2013 | 2:1 | Accredited by the
          <a href="https://www.bps.org.uk" rel="noopener noreferrer" target="_blank"
            >British Psychological Society</a
          ></em
        >
      </p>
      <h4>Key modules</h4>
      <p>
        Cognitive Psychology &amp; Emotional Disorders, Perception, Quantitative and Qualitative Statistics, World
        Cinema, Documentary Film-Making, Multimedia, Web Technologies, Internet Programming, Human Computer Interaction
      </p>
      <h4>Dissertation</h4>
      <p>
        Received a First for
        <em
          >Perceiving depth with one eye: The effects of reducing cues to picture surface visibility on the qualitative
          impression of stereopsis in two-dimensional images</em
        >.
      </p>
    </details>
  </section>
  <section class="page-break-before">
    <h2>Independent learning</h2>
    <div class="block">
      <h3>Korean Regular Programme, Yonsei University Korean Language Institute</h3>
      <p class="date"><em>May 2024 - May 2025 | Seoul, South Korea</em></p>
      <p>
        Attended language school at
        <a href="https://www.yskli.com/" rel="noopener noreferrer" target="_blank">Yonsei University</a> studying
        Korean. Passed levels two to five which corresponds to the national TOPIK (Test of Proficiency in Korean).
        Undertook additional volunteer work with native Korean speakers guiding fluency in English for debates and
        professional environments. Spent summer 2025 travelling in Korea and the Philippines.
      </p>
    </div>
    <div class="block">
      <h3>Professional development</h3>
      <p>
        Regularly completing various front-end courses and projects to keep skills up-to-date and learn new technologies
        and practices. Currently exploring data visualisation using Google Charts.
      </p>
    </div>
  </section>
  <section>
    <h2>Public speaking</h2>
    <div class="block">
      <h3>
        <a
          href="https://www.slideshare.net/cellosignal/signals-alice-herbison-drupal-camp-scotland-2018-98272319"
          rel="noopener noreferrer"
          target="_blank"
          >User research throughout the project lifecycle</a
        >
      </h3>
      <p class="date">
        <em
          >Speaker at
          <a href="http://camp.drupal.scot/" rel="noopener noreferrer" target="_blank">Drupal Camp Scotland</a> | May
          2018</em
        >
      </p>
    </div>
    <div class="block">
      <h3>
        <a href="https://boagworld.com/season/20/episode/2008/" rel="noopener noreferrer" target="_blank"
          >How to test your user interface the right way</a
        >
      </h3>
      <p class="date">
        <em
          >Guest on the
          <a href="https://boagworld.com/show" rel="noopener noreferrer" target="_blank">Boagworld UX Show</a> | Podcast
          | March 2018</em
        >
      </p>
    </div>
  </section>
  <section class="screen-only print">
    <button onClick="window.print()">print me</button>
  </section>
  {{- .Content -}}
</main>
{{- $script := resources.Get "js/print.js" | minify -}}
<script src="{{- $script.Permalink -}}" type="text/javascript"></script>
{{- end -}}
