{{ define "main" }}
<main class="cv">
  <section id="intro">
    <h1>Alice G Herbison</h1>
    <span>hello [at] alicegherbison.com</span>
    <div>
      <a href="https://www.github.com/alicegherbison" target="_blank">github</a> - <a href="https://codepen.io/alicegh/" target="_blank">codepen</a> - <a href="https://www.linkedin.com/in/alicegherbison/" target="_blank">linkedin</a>
    </div>
  </section>
  <section id="about">
    <p>Hi, I'm Alice - a <strong>user experience developer</strong> in Edinburgh with a background in human computer interaction and psychology. I absolutely love learning new skills and technologies, and am pursuing <strong>front-end web development / UX prototyping roles</strong> in 2019.</p>
  </section>
  <section id="experience">
    <h2>Experience</h2>
    <h3>User Experience Designer, Signal</h3>
    <span>January 2015 - present, Edinburgh</span>
    <ul>
      <li>building prototypes in code</li>
      <li>defining information architecture and site structures</li>
      <li>content strategy and CMS planning</li>
      <li>running usability tests</li>
      <li>conducting primary user research and interviews</li>
    </ul>
    <p>At Signal, I've led the user research, site planning, information architecture and user experience design for Street Soccer Scotland, <a href="https://www.drinkaware.co.uk/" target="_blank">Drinkaware</a>, City of Glasgow College, National Galleries of Scotland and Powderbeds website redesigns, and a power-generator monitoring iPhone application for Aggreko. Other work includes RBS, Scottish Friendly, Nando's and Edinburgh Festival Fringe Society.</p>
    <p>I also proposed and led the <strong>interative prototyping methods for a new medical research platform</strong> that allows key scientific leaders to communicate and collaborate on the latest developments in their fields.</p>
  </section>
  {{ .Content }}
</main>
{{ end }}