.cv {
  a {
    border-bottom: 1pt solid var(--color-grey-mid);

    font-weight: 700;
    color: var(--color-black);

    text-decoration: none;
  }

  section {
    margin-bottom: 12pt;

    &:last-child {
      margin-bottom: 0;
    }
  }

  summary {
    list-style: none;

    &::marker {
      display: none;
    }
  }
}

.screen-only {
  display: none;
}

.block {
  margin-bottom: 14pt;

  &:last-child {
    margin-bottom: 0;
  }
}

.intro {
  text-align: center;
}

.about {
  padding: 5pt 8pt;

  background-color: var(--color-grey-extra-light);
}

.skills {
  column-count: 2;

  margin-left: 0;

  list-style-type: none;
}

.date {
  color: var(--color-grey-dark);
}
