@import "../utils/variables";

.cv {
  p,
  li,
  dd,
  dt {
    font-size: 1.5rem;
  }

  h2 {
    margin-bottom: 1.2rem;

    font-size: 2rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    margin-bottom: 0.4rem;

    font-size: 1.5rem;
  }

  section {
    margin-bottom: 4rem;

    &:last-child {
      margin-top: 0;
    }
  }

  summary {
    h3 {
      display: inline;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.print-only {
  display: none;
}

.block {
  margin-bottom: 1.2rem;
  padding: 1.6rem 2rem;

  background: var(--color-black);

  &:last-child {
    margin-bottom: 0;
  }
}

.intro {
  text-align: center;
}

.skills {
  column-count: 1;

  @media (min-width: $breakpoint) {
    column-count: 2;
  }
}

.print {
  text-align: center;
}
