:root {
  --color-black: #191919;
  --color-grey-dark: #2c292d;
  --color-grey-mid: #aaaaaa;
  --color-grey-light: #cccccc;
  --color-lilac: #ab9df2;
  --color-magenta: #ff6188;
  --color-peach: #fc9867;
  --color-lemon: #ffd866;
  --color-lime: #a9dc76;
  --color-cyan: #78dce8;
  --color-straw: #fcfcfa;
}

$breakpoint: 800px;
