<!DOCTYPE html>
<html lang="en-GB">
<head>
	{{ "<!--[if lt IE 9]>" | safeHTML }}<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>{{ "<![endif]-->" | safeHTML }}
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <title>{{ .Title }} - ●○ {{ .Site.Title }}</title>
  <meta name="description" content="{{ .Site.Params.description }}" />
  <meta name="keywords" content="{{ .Site.Params.tags }}" />
  <meta name="author" content="{{ .Site.Params.author }}" />
  {{ $style := resources.Get "css/style.css" | minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" type="text/css" media="screen">
  {{ "<!-- Google Tag Manager -->" | safeHTML }}
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PPR3CQ9');
  </script>
  {{ "<!-- End Google Tag Manager -->" | safeHTML }}	
</head>
<body>
  {{ "<!-- Google Tag Manager (noscript) -->" | safeHTML }}
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PPR3CQ9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {{ "<!-- End Google Tag Manager (noscript) -->" | safeHTML }}
    {{ block "header" . }}{{ end }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
  </body>
  </html>