:root {
	--black: #000000;
	--grey: #f1f1f1;
	--magenta: #dd1c90;
	--yellow: #ffee00;
	--green: #1faa22;
	--blue: #1c56dd;
	--indigo: #6542f4;
}

/* document */
html {
	font-size: 62.5%;
}

/* sectioning & structuring */
body {
	border-top: 0.8rem solid;
	font-size: 1.8rem;
	line-height: 1.5;
	font-family: serif;
}

header, main {
	max-width: 47rem;
	padding: 0 1.8rem;
}

header {
	margin: 4rem auto 0 auto;
}

main {
	margin: 2rem auto;
}

/* headings */
h1 {
	font-size: 4rem;
	font-weight: bold;
}

h2 {
	margin-top: 2rem;
	font-size: 2.4rem;
	font-weight: bold;
}

h3 {
	margin-top: 1.8rem;
	font-size: 2rem;
	font-weight: bold;
}

h4 {
	margin-top: 1.6rem;
	font-size: 1.8rem;
	font-weight: bold;
}

/* text & lists */
p, ul, ol {
	margin-top: 1.8rem;
}

h2 + p, h2 + ul, h2 + ol, h3 + p, h3 + ul, p + ul {
	margin-top: 0.5rem;
}

h4 + p, h4 + ul {
	margin-top: 0;
}

h1:first-child, h2:first-child, h3:first-child, p:first-child, ol:first-child, ul:first-child, li:first-child {
	margin-top: 0;
}

ul {
	list-style: circle outside;
	margin-left: 1.8rem;
}

ol {
	list-style: decimal outside;
	margin-left: 1.8rem;
}

li {
	margin-top: 0.8rem;
	padding-left: 0.9rem;
}

/* phrasing */
a {
	border-bottom: 0.2rem solid var(--magenta);
	font-weight: bold;
	text-decoration: none;
	color: var(--magenta);
}

a:hover {
	border-bottom: none;
	text-decoration: none;
	color: var(--blue);
}

a[href^="http://"]:not([href*="www.alicegherbison.com"]):hover,
a[href^="https://"]:not([href*="www.alicegherbison.com"]):hover {
	cursor: ne-resize;
	color: var(--green);
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

/* misc */
:lang(ko){
	font-family: sans-serif;
}

::selection {
	background-color: var(--yellow);
	text-shadow: none;
}

/* CV styles */

#cv {
	width: 80vw;
	max-width: 1024px;
	font-size: 1.5rem;
}

#cv section {
	margin-bottom: 4rem;
}

#cv a {
	border-bottom: 0.2rem solid var(--indigo);
	color: var(--indigo);
	text-decoration: none;
}

#cv a:hover {
	border-bottom: none;
	color: var(--blue);
}

#cv a[href^="http://"]:not([href*="www.alicegherbison.com"]):hover,
#cv a[href^="https://"]:not([href*="www.alicegherbison.com"]):hover {
	cursor: ne-resize;
	color: var(--magenta);
}

#cv ul {
	margin-left: 1.6rem;
}

#cv ul li {
	margin-top: 0.6rem;
}

#cv summary:hover {
	cursor: pointer;
}

#cv summary:focus {
	outline: none;
}

#cv summary h3 {
	display: inline;
}

#cv details > summary::-webkit-details-marker {
  display: inline;
}

#cv a[href^="javascript"]:hover {
	color: var(--black);
}

#email {
	margin-top: 1rem;
}

#intro {
	margin: 2rem 0;
	text-align: center;
}

#print {
	text-align: center;
}

.block {
	margin-top: 1.8rem;
	border-left: 0.5rem solid var(--indigo);
	padding: 2.4rem;
	background: var(--grey);
}

.group-list {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-row-gap: 1.5rem;
	grid-column-gap: 1.5rem;
}

.group-list h3, .group-list h3 p, .group-list .horizontal-list {
	margin-top: 0;
}

.group-list h3 {
	display: inline;
	font-size: 1.5rem;
	margin-right: 1rem;
}

#cv ul.horizontal-list {
	margin-left: 0;
	list-style-position: outside;
}

.horizontal-list {
	display: inline;
}

.horizontal-list li {
	display: inline;
	padding-left: 0;
}

.horizontal-list li:not(:last-child):after {
	content: " \2219 ";
	display: inline;
}

.print-only {
	display: none;
}

@media only screen and (max-width: 800px) {
	.group-list {
		display: block;
	}

	.group-list .horizontal-list:not(:last-child) {
		margin-bottom: 1rem;
	}
}

@media only screen and (max-width: 450px) {
	#cv {
		width: initial;
	}
}
