:root {
  --color-black: #191919;
  --color-grey-dark: #2c292d;
  --color-grey-mid: #aaaaaa;
  --color-grey-light: #cccccc;
  --color-lilac: #ab9df2;
  --color-magenta: #ff6188;
  --color-peach: #fc9867;
  --color-lemon: #ffd866;
  --color-lime: #a9dc76;
  --color-cyan: #78dce8;
  --color-straw: #fcfcfa;
}

/* document */
html {
  font-size: 62.5%;
}

html:before, html:after {
  content: '';

  position: fixed;
  top: 0;
  bottom: 0;

  width: 0.8rem;
}

html:before {
  left: 0;

  background-color: var(--color-magenta);
}

html:after {
  right: 0;

  background-color: var(--color-cyan);
}

/* sectioning & structuring */
body {
  background-color: var(--color-grey-dark);

  font-size: 1.8rem;
  font-family: serif;
  line-height: 1.8;
  letter-spacing: 0.07rem;
  color: var(--color-grey-light);
}

body:before, body:after {
  content: '';

  position: fixed;
  right: 0;
  left: 0;

  height: 0.8rem;

  background-image: linear-gradient(to right, var(--color-magenta), var(--color-lemon),  var(--color-lime), var(--color-cyan));
}

body:before {
  top: 0;
}

body:after {
  bottom: 0;
}

header,
main {
  max-width: 54rem;
  padding: 0 1.8rem;
}

header {
  margin: 0 auto;
  padding: 4rem 3rem 0 3rem;
}

main {
  margin: 0 auto;
  padding: 4rem 3rem;
}

/* headings */
h1 {
  font-size: 4rem;
  font-weight: bold;
  color: var(--color-straw);
}

h2 {
  margin-top: 2rem;

  font-size: 2.4rem;
  font-weight: bold;
  color: var(--color-straw);
}

h3 {
  margin-top: 1.8rem;

  font-size: 2rem;
  font-weight: bold;
  color: var(--color-straw);
}

h4 {
  margin-top: 1.6rem;

  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-straw);
}

/* text & list */
p,
ul,
ol {
  margin-top: 1.8rem;
}

h2 + p,
h2 + ul,
h2 + ol,
h3 + p,
h3 + ul,
p + ul {
  margin-top: 0.5rem;
}

h4 + p,
h4 + ul {
  margin-top: 0;
}

h1:first-child,
h2:first-child,
h3:first-child,
p:first-child,
ol:first-child,
ul:first-child,
li:first-child {
  margin-top: 0;
}

ul {
  margin-left: 1.8rem;

  list-style: circle outside;
}

ol {
  margin-left: 1.8rem;

  list-style: decimal outside;
}

li {
  margin-top: 0.8rem;
  padding-left: 0.9rem;
}

img {
  max-width: 100%;
}

/* phrasing */
a {
  border-bottom: 0.2rem solid var(--color-lilac);

  font-weight: bold;
  text-decoration: none;
  color: var(--color-lilac);
}

a:hover {
  border-bottom: none;

  text-decoration: none;
  color: var(--color-cyan);
}

a[href^="http://"]:not([href*="www.alicegherbison.com"]):hover,
a[href^="https://"]:not([href*="www.alicegherbison.com"]):hover {
  cursor: ne-resize;

  color: var(--color-magenta);
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
  color: var(--color-straw);
}

hr {
  margin: 3rem 0;
}

/* misc */
:lang(ko) {
  font-family: sans-serif;
}

::selection {
  background-color: var(--color-lemon);
  text-shadow: none;
}

/* colour blocks */
.colours {
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.2rem;

  display: grid;

  margin-top: 3rem;
}

.colour {
  border: 0.8rem solid var(--color-straw);
  min-width: 7.6rem;
  width: 100%;
  height: 7.6rem;
}

.lilac {
  background-color: var(--color-lilac);
}

.magenta {
  background-color: var(--color-magenta);
}

.peach {
  background-color: var(--color-peach);
}

.lemon {
  background-color: var(--color-lemon);
}

.lime {
  background-color: var(--color-lime);
}

.cyan {
  background-color: var(--color-cyan);
}

.straw {
  background-color: var(--color-straw);
}

.grey-light {
  background-color: var(--color-grey-light);
}

.grey-mid {
  background-color: var(--color-grey-mid);
}

.grey-dark {
  background-color: var(--color-grey-dark);
}

.black {
  background-color: var(--color-black);
}

/* utility classes */

.sr {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

/* cv */
#cv {
  width: 80vw;
  max-width: 1024px;

  font-size: 1.5rem;
}

#cv section {
  margin-top: 4rem;
}

#cv ul {
  margin-left: 1.6rem;
}

#cv ul li {
  margin-top: 0.6rem;
}

#cv summary:hover {
  cursor: pointer;
}

#cv summary:focus {
  outline: none;
}

#cv summary h3 {
  display: inline;
}

#cv details > summary::-webkit-details-marker {
  display: inline;
}

#cv a[href^='javascript']:hover {
  color: var(--color-lemon);
}

#email {
  margin-top: 1rem;
}

#intro {
  text-align: center;
}

#print {
  text-align: center;
}

.block {
  margin-top: 1.2rem;
  border-left: 0.5rem solid var(--color-lilac);
  padding: 2.4rem;

  background: var(--color-black);
}

.group-list {
  grid-template-columns: 50% 50%;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;

  display: grid;
}

.group-list h3,
.group-list h3 p,
.group-list .horizontal-list {
  margin-top: 0;
}

.group-list h3 {
  display: inline;

  margin-right: 1rem;

  font-size: 1.5rem;
}

#cv ul.horizontal-list {
  margin-left: 0;

  list-style-position: outside;
}

.horizontal-list {
  display: inline;
}

.horizontal-list li {
  display: inline;

  padding-left: 0;
}

.horizontal-list li:not(:last-child):after {
  content: ' \2219 ';

  display: inline;
}

.print-only {
  display: none;
}

@media only screen and (max-width: 800px) {
  .group-list {
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  #cv {
    width: initial;
  }
}
