:root {
	--black: #000000;
	--grey: #f1f1f1;
	--magenta: #dd1c90;
	--yellow: #ffee00;
	--green: #1faa22;
	--blue: #1c56dd;
	--indigo: #6542f4;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	vertical-align: baseline;
	margin: 0;
	border: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* document */
html {
	font-size: 62.5%;
}

/* sectioning & structuring */
body {
	border-top: 0.8rem solid;
	font-size: 1.8rem;
	line-height: 1.8;
	font-family: serif;
}

header, main {
	max-width: 47rem;
	padding: 0 1.8rem;
}

header {
	margin: 4rem auto 0 auto;
}

main {
	margin: 2rem auto;
}

/* headings */
h1 {
	font-size: 4rem;
	font-weight: bold;
}

h2 {
	margin-top: 2rem;
	font-size: 2.4rem;
	font-weight: bold;
}

h3 {
	margin-top: 1.8rem;
	font-size: 2rem;
	font-weight: bold;
}

/* text & lists */
p, ul, ol {
	margin-top: 1.8rem;
}

h2 + p, h2 + ul, h2 + ol, h3 + p, h3 + ul, p + ul {
	margin-top: 0.5rem;
}

h1:first-child, h2:first-child, h3:first-child, p:first-child, ol:first-child, ul:first-child, li:first-child {
	margin-top: 0;
}

ul {
	list-style: circle inside;
}

ol {
	list-style: decimal inside;
}

li {
	margin-top: 0.8rem;
}

/* phrasing */
a {
	font-weight: bold;
	color: var(--magenta);
}

a:hover {
	cursor: e-resize;
	text-decoration: none;
	color: var(--blue);
}

a[href^="http://"]:not([href*="www.alicegherbison.com"]):hover,
a[href^="https://"]:not([href*="www.alicegherbison.com"]):hover {
	cursor: ne-resize;
	color: var(--green);
}

header a:hover {
	cursor: w-resize;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

/* misc */
:lang(ko){
	font-family: sans-serif;
}

::selection {
	background-color: var(--yellow);
	text-shadow: none;
}

/* CV styles */

#cv {
	width: 80vw;
	max-width: 1024px;
	font-size: 1.6rem;
}

#cv section {
	margin-bottom: 4rem;
}

#cv a {
	color: var(--indigo);
}

#cv a[href^="http://"]:not([href*="www.alicegherbison.com"]):hover,
#cv a[href^="https://"]:not([href*="www.alicegherbison.com"]):hover {
	cursor: ne-resize;
	color: var(--magenta);
}

#cv summary:hover {
	cursor: pointer;
}

#cv summary:focus {
	outline: none;
}

#cv summary h3 {
	display: inline-block;
	margin-top: 0;
}

#cv a[href^="javascript"]:hover {
	cursor: pointer;
	color: var(--black);
}

#intro {
	margin: 6rem 0;
	text-align: center;
}

#print {
	text-align: center;
}

.block {
	margin-top: 1.8rem;
	border-left: 0.5rem solid var(--indigo);
	padding: 2.4rem;
	background: var(--grey);
}

.group-list {
	display: grid;
	grid-template-columns: 30% 70%;
	grid-row-gap: 1rem;
	grid-column-gap: 1rem;
	align-items: center;
}

.group-list h3, .group-list h3 p, .group-list .horizontal-list {
	margin-top: 0;
}

.group-list h3 {
	align-self: start;
}

.horizontal-list li {
	display: inline;
}

.horizontal-list li:not(:last-child):after {
	content: " \2219 ";
	display: inline;
}

@media only screen and (max-width: 800px) {
	.group-list {
		display: block;
	}
	
	.group-list .horizontal-list:not(:last-child) {
		margin-bottom: 1rem;
	}
}	
