@import "../utils/variables";

.cv {
  font-size: 1.4rem;

  section {
    margin-top: 4rem;

    &:first-child {
      margin-top: 0;
    }
  }

  summary {
    &::marker {
      display: inline;
    }

    &:hover {
      cursor: pointer;
    }

    h3 {
      display: inline;
    }
  }
}

.print-only {
  display: none;
}

.block {
  margin-top: 1.2rem;
  padding: 1.8rem 2.2rem;

  background: var(--color-black);
}

.intro {
  text-align: center;
}

.email {
  margin-top: 1rem;
}

.social {
  margin-top: 0;
}

.skills {
  column-count: 1;

  margin-left: 0;

  list-style-type: none;

  @media (min-width: $breakpoint) {
    column-count: 2;
  }
}

.skill-group {
  margin-top: 0;
  padding-left: 0;
}

.skill-group-title {
  display: inline;

  margin-top: 0;
  margin-right: 1rem;

  font-size: 1.5rem;
}

.horizontal-list {
  display: inline;

  margin-left: 0;

  li {
    display: inline;

    padding-left: 0;

    &:not(:last-child)::after {
      content: " \2219 ";

      display: inline;
    }
  }
}

.print {
  text-align: center;
}
