/* stylelint-disable no-descending-specificity */

* {
  box-sizing: border-box;

  scrollbar-width: thick;
  scrollbar-color: var(--color-grey-dark);

  &::-webkit-scrollbar {
    width: 1.2rem;
    height: 1.2rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-grey-dark);
  }

  &::-webkit-scrollbar-thumb {
    border: 0.2rem solid var(--color-grey-dark);
    border-radius: 1rem;

    background-color: var(--color-grey-light);

    &:hover {
      background-color: var(--color-grey-mid);
    }
  }

  &:focus {
    outline: 0;
  }

  &:focus-visible {
    outline: 0.2rem solid var(--color-lemon);
  }
}

html {
  padding-left: calc(100vw - 100%);

  font-size: 62.5%;
}

body {
  padding: 3rem 1.5rem;

  letter-spacing: 0.07rem;

  line-height: 1.8;
  font-size: 1.8rem;
  font-family: serif;
  color: var(--color-grey-light);

  background-color: var(--color-grey-dark);
}

img {
  max-width: 100%;
}

:lang(ko) {
  font-family: sans-serif;
}

::selection {
  color: var(--color-grey-dark);

  text-shadow: none;

  background-color: var(--color-lemon);
}
