header,
main,
footer {
  margin: 0 auto;
  max-width: 80rem;
}

header {
  display: flex;

  justify-content: space-between;

  nav ul {
    display: flex;

    gap: 2.4rem;

    margin: 0;

    list-style-type: none;

    li {
      margin: 0;
      padding: 0;
    }
  }

  a {
    border-bottom: none;

    font-weight: 400;
    color: var(--color-grey-mid);

    &:hover {
      color: var(--color-lilac);
    }

    &.active {
      font-weight: 700;
      color: var(--color-straw);
    }
  }
}

main {
  padding-top: 4rem;
}

footer {
  margin-top: 4rem;
  border-top: 0.1rem solid var(--color-grey-mid);
  padding-top: 1.6rem;
}
