header,
main {
  max-width: 54rem;
  padding: 0 1.8rem;
}

header {
  margin: 0 auto;
  padding: 4rem 3rem 0 3rem;
}

main {
  margin: 0 auto;
  padding: 4rem 3rem;
}

.wide {
  width: 100%;
  min-width: 102.4rem;
}
