/* stylelint-disable no-descending-specificity */

h1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--color-straw);
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--color-straw);

  &:last-child {
    margin-bottom: 0;
  }
}

h3 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-straw);

  &:last-child {
    margin-bottom: 0;
  }
}

h4 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-straw);

  &:last-child {
    margin-bottom: 0;
  }
}

p {
  margin-bottom: 1.8rem;

  &:last-child {
    margin-bottom: 0;
  }
}

dt {
  break-after: avoid;

  margin-top: 1rem;

  font-weight: 700;
  color: var(--color-straw);

  &:first-child {
    margin-top: 0;
  }
}

small {
  display: block;

  font-size: 1.4rem;
}

ul {
  margin-bottom: 1.8rem;
  margin-left: 1.8rem;

  list-style: circle outside;

  &:last-child {
    margin-bottom: 0;
  }
}

ol {
  margin-bottom: 1.8rem;
  margin-left: 1.8rem;

  list-style: decimal outside;

  &:last-child {
    margin-bottom: 0;
  }
}

li {
  margin-bottom: 0.6rem;
  padding-left: 0.9rem;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  border-bottom: 0.2rem solid var(--color-grey-mid);

  font-weight: 700;
  color: var(--color-straw);

  text-decoration: none;

  &:hover {
    border-bottom: none;

    color: var(--color-cyan);

    text-decoration: none;
  }
}

/* stylelint-disable block-opening-brace-space-before */

a[href^="http://"]:not([href^="www.alicegherbison.com"]):hover,
a[href^="https://"]:not([href^="www.alicegherbison.com"]):hover
{
  cursor: ne-resize;

  color: var(--color-magenta);
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
  color: var(--color-straw);
}

hr {
  margin: 3rem 0;
}
