<!DOCTYPE html>
{{- "<!-- if you're snoopin', why not take a sneaky peak at my github?: https://www.github.com/alicegherbison -->" | safeHTML -}}
<html lang="{{- .Site.LanguageCode -}}">
{{- partial "head.html" . -}}
<body>
  {{- partial "analytics-noscript.html" . -}}
  {{- block "header" . -}}{{- end -}}
  {{- block "main" . -}}{{- end -}}
  {{- partial "console-log.html" . -}}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  {{- $map := resources.Get "js/map.js" | minify -}}
<script src="{{- $map.Permalink -}}" type="text/javascript"></script>
</body>
</html>
