<div class="colours">
  <figure>
    <div title="Lilac" class="colour lilac">
      <span class="sr">Lilac</span>
    </div>
    <figcaption>#ab9df2</figcaption>
  </figure>
  <figure>
    <div title="Magenta" class="colour magenta">
      <span class="sr">Magenta</span>
    </div>
    <figcaption>#ff6188</figcaption>
  </figure>
  <figure>
    <div title="Peach" class="colour peach">
      <span class="sr">Peach</span>
    </div>
    <figcaption>#fc9867</figcaption>
  </figure>
  <figure>
    <div title="Cyan" class="colour cyan">
      <span class="sr">Cyan</span>
    </div>
    <figcaption>#78dce8</figcaption>
  </figure>
  <figure>
    <div title="Lime" class="colour lime">
      <span class="sr">Lime</span>
    </div>
    <figcaption>#a9dc76</figcaption>
  </figure>
  <figure>
    <div title="Lemon" class="colour lemon">
      <span class="sr">Lemon</span>
    </div>
    <figcaption>#ffd866</figcaption>
  </figure>
  <figure>
    <div title="Straw" class="colour straw">
      <span class="sr">Straw</span>
    </div>
    <figcaption>#fcfcfa</figcaption>
  </figure>
  <figure>
    <div title="Light grey" class="colour grey-light">
      <span class="sr">Light grey</span>
    </div>
    <figcaption>#cccccc</figcaption>
  </figure>
  <figure>
    <div title="Mid grey" class="colour grey-mid">
      <span class="sr">Mid grey</span>
    </div>
    <figcaption>#aaaaaa</figcaption>
  </figure>
  <figure>
    <div title="Dark grey" class="colour grey-dark">
      <span class="sr">Dark grey</span>
    </div>
    <figcaption>#2c292d</figcaption>
  </figure>
  <figure>
    <div title="Black" class="colour black">
      <span class="sr">Black</span>
    </div>
    <figcaption>#191919</figcaption>
  </figure>
</div>
