button {
  margin: 0;
  box-shadow: 0.8rem 0.8rem 0 var(--color-black);
  border: none;
  padding: 0.8rem 1.6rem;

  font-size: 1.8rem;
  font-family: serif;
  font-weight: 700;
  color: var(--color-grey-dark);

  background-color: var(--color-lime);

  &:hover {
    box-shadow: none;

    transform: translate(0.4rem, 0.4rem);

    background-color: var(--color-lemon);
  }
}
