@page {
  margin: 1cm 1.5cm;
}

/* stylelint-disable declaration-no-important */

* {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

/* stylelint-enable declaration-no-important */

body {
  line-height: 1.2;
  font-size: 9pt;
  font-family: serif;
}

.page-break-before {
  break-before: always;
}
