/* stylelint-disable no-descending-specificity */

h1 {
  margin-bottom: 4pt;

  font-size: 20pt;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 7pt;
  border-bottom: 2pt solid var(--color-black);

  font-size: 18pt;
}

h3 {
  font-size: 14pt;
}

h4 {
  font-size: 9pt;
}

p {
  margin-bottom: 8pt;

  &:last-child {
    margin-bottom: 0;
  }
}

dt {
  break-after: avoid;

  margin-top: 5pt;

  font-size: 9pt;
  font-weight: 700;
  color: var(--color-straw);

  &:first-child {
    margin-top: 0;
  }
}

dd {
  font-size: 9pt;
}

ol {
  margin-bottom: 8pt;

  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  margin-bottom: 8pt;
  margin-left: 12pt;
  padding: 0;

  list-style: circle outside;

  &:last-child {
    margin-bottom: 0;
  }
}

li {
  margin-bottom: 2pt;
  padding-left: 2pt;

  &:last-child {
    margin-bottom: 0;
  }
}
