/* cv */
#cv {
  width: 80vw;
  max-width: 1024px;

  font-size: 1.5rem;
}

#cv section {
  margin-top: 4rem;
}

#cv ul {
  margin-left: 1.6rem;
}

#cv ul li {
  margin-top: 0.6rem;
}

#cv summary:hover {
  cursor: pointer;
}

#cv summary:focus {
  outline: none;
}

#cv summary h3 {
  display: inline;
}

#cv details > summary::-webkit-details-marker {
  display: inline;
}

#cv a[href^="javascript"]:hover {
  color: var(--color-lemon);
}

#email {
  margin-top: 1rem;
}

#intro {
  text-align: center;
}

#print {
  text-align: center;
}

.block {
  margin-top: 1.2rem;
  border-left: 0.5rem solid var(--color-lilac);
  padding: 2.4rem;

  background: var(--color-black);
}

.group-list {
  grid-template-columns: 50% 50%;
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;

  display: grid;
}

.group-list h3,
.group-list h3 p,
.group-list .horizontal-list {
  margin-top: 0;
}

.group-list h3 {
  display: inline;

  margin-right: 1rem;

  font-size: 1.5rem;
}

#cv ul.horizontal-list {
  margin-left: 0;

  list-style-position: outside;
}

.horizontal-list {
  display: inline;
}

.horizontal-list li {
  display: inline;

  padding-left: 0;
}

.horizontal-list li:not(:last-child):after {
  content: " \2219 ";

  display: inline;
}

.print-only {
  display: none;
}

@media only screen and (max-width: 800px) {
  .group-list {
    display: block;
  }
}

@media only screen and (max-width: 800px) {
  #cv {
    width: initial;
  }
}
